#body{
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
#calculator{    
      font-family: Arial sans-serif;
      background-color: black;
      border-radius: 20px;
      max-width: 430px;
      overflow: hidden;
      
    
}
#display{
    width: 100%;
    padding: 0;
    font-size: 4.5rem;
    text-align: right;
    border: none;
    background-color: black;
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 15px;
}
button{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 10%);
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator-btn{
      background-color: hsl(39, 100%, 50%);
}
.operator-btn:hover{
    background-color: hsl(39, 100%, 60%);
}
.operator-btn:active{
    background-color: hsl(39, 100%, 60%);
}
.text-center{
    text-align: center;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

